## Consulta 4

*Esta funcion devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)*

Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

*Importamos las librerías necesarias para el procesamiento de los datos*

In [1]:
import pandas as pd
import re

*Importamos los archivos con los que vamos a trabajar la consulta*

In [2]:
df_games = pd.read_csv(r'C:\Users\Owner\Desktop\LABS\Proyecto_STEAM\datos_STEAM\games_clean.csv')
df_reviews = pd.read_csv(r'C:\Users\Owner\Desktop\LABS\Proyecto_STEAM\datos_STEAM\reviews_clean.csv')
df_sentimientos = pd.read_csv(r'C:\Users\Owner\Desktop\LABS\Proyecto_STEAM\datos_STEAM\reviews_clean_sentiment.csv')

df_games_copy = df_games.copy()
df_reviews_copy = df_reviews.copy()
df_sentimientos_copy = df_sentimientos.copy()

In [3]:
df_games_copy

,id,app_name,developer,genres,price,release_date,tags
0,761140.0,Lost Summoner Kitty,Kotoshiro,Action,4.99,2018.0,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim..."
1,643980.0,Ironbound,Secret Level SRL,Indie,Free To Play,2018.0,"['Free to Play', 'Strategy', 'Indie', 'RPG', '..."
2,670290.0,Real Pool 3D - Poolians,Poolians.com,Casual,Free,2017.0,"['Free to Play', 'Simulation', 'Sports', 'Casu..."
3,767400.0,弹炸人2222,彼岸领域,Action,0.99,2017.0,"['Action', 'Adventure', 'Casual']"
4,773570.0,Log Challenge,NaN,Action,2.99,NaN,"['Action', 'Indie', 'Casual', 'Sports']"
...,...,...,...,...,...,...,...
32130,773640.0,Colony On Mars,"Nikita ""Ghost_RUS""",Casual,1.99,2018.0,"['Strategy', 'Indie', 'Casual', 'Simulation']"
32131,733530.0,LOGistICAL: South Africa,Sacada,Casual,4.99,2018.0,"['Strategy', 'Indie', 'Casual']"
32132,610660.0,Russian Roads,Laush Dmitriy Sergeevich,Indie,1.99,2018.0,"['Indie', 'Simulation', 'Racing']"
32133,658870.0,EXIT 2 - Directions,"xropi,stev3ns",Casual,4.99,2017.0,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ..."
32134,681550.0,Maze Run VR,NaN,Early Access,4.99,NaN,"['Early Access', 'Adventure', 'Indie', 'Action..."

*Combinamos df1 y df2 en base al ID del ítem utilizando un join izquierdo (manteniendo todas las filas de df1) y luego impremimos el DataFrame resultante.*

In [4]:
# Combinar df1 y df2 en base al ID del ítem utilizando un left join (manteniendo todas las filas de df1)
df_merged = df_sentimientos_copy.merge(df_games_copy[['id', 'developer']], left_on='item_id', right_on='id', how='left')

# Imprimir el DataFrame resultante
df_merged

,user_id,user_url,posted,item_id,recommend,sentiment_analysis,id,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,True,2,1250.0,Tripwire Interactive
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",22200.0,True,2,22200.0,ACE Team
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted April 21, 2011.",43110.0,True,2,NaN,NaN
3,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610.0,True,2,NaN,NaN
4,js41637,http://steamcommunity.com/id/js41637,"Posted September 8, 2013.",227300.0,True,2,227300.0,SCS Software
...,...,...,...,...,...,...,...,...
59356,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 10.,70.0,True,2,70.0,Valve
59357,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 8.,362890.0,True,2,362890.0,Crowbar Collective
59358,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 3.,273110.0,True,2,273110.0,Nexon
59359,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,730.0,True,2,730.0,Valve
59360,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440.0,True,2,440.0,Valve

*Extraemos los años de la columna 'posted' del DataFrame df_merged utilizando expresiones regulares y luego elimina esta columna, dejando solo los años en una nueva columna llamada 'year_posted'*

In [5]:

# Define un patrón regex para extraer el año (cuatro dígitos)
patron = r'(\b\d{4}\b)'

# Extrae el año de cada celda en la columna 'posted' usando regex
df_merged['year_posted'] = df_merged['posted'].str.extract(patron)

# Elimina la columna original 'posted'
df_merged.drop(columns=['posted'], inplace=True)

*Reordenamos las columnas del DataFrame df_merged según la lista nuevo_orden_columnas, que especifica el orden deseado de las columnas.*

In [6]:
nuevo_orden_columnas = [
    'user_id',
    'item_id',
    'recommend',
    'sentiment_analysis',
    'developer',
    'year_posted'
]

# Reordena las columnas del DataFrame con el nuevo orden
df_merged = df_merged[nuevo_orden_columnas]

df_merged

,user_id,item_id,recommend,sentiment_analysis,developer,year_posted
0,76561197970982479,1250.0,True,2,Tripwire Interactive,2011
1,76561197970982479,22200.0,True,2,ACE Team,2011
2,76561197970982479,43110.0,True,2,NaN,2011
3,js41637,251610.0,True,2,NaN,2014
4,js41637,227300.0,True,2,SCS Software,2013
...,...,...,...,...,...,...
59356,76561198312638244,70.0,True,2,Valve,NaN
59357,76561198312638244,362890.0,True,2,Crowbar Collective,NaN
59358,LydiaMorley,273110.0,True,2,Nexon,NaN
59359,LydiaMorley,730.0,True,2,Valve,NaN
59360,LydiaMorley,440.0,True,2,Valve,NaN

*Eliminamos las filas que tienen valores faltantes en la columna 'year_posted' y luego conviertimos esa columna al tipo de datos entero.*

In [7]:
# Eliminar filas con valores NaN en la columna 'year_posted'
df_merged.dropna(subset=['year_posted'], inplace=True)

# Convertir la columna 'year_posted' a tipo de datos entero
df_merged['year_posted'] = df_merged['year_posted'].astype(int)

C:\Users\Owner\AppData\Local\Temp\ipykernel_13268\1734970737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged.dropna(subset=['year_posted'], inplace=True)
C:\Users\Owner\AppData\Local\Temp\ipykernel_13268\1734970737.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['year_posted'] = df_merged['year_posted'].astype(int)

In [8]:
df_merged

,user_id,item_id,recommend,sentiment_analysis,developer,year_posted
0,76561197970982479,1250.0,True,2,Tripwire Interactive,2011
1,76561197970982479,22200.0,True,2,ACE Team,2011
2,76561197970982479,43110.0,True,2,NaN,2011
3,js41637,251610.0,True,2,NaN,2014
4,js41637,227300.0,True,2,SCS Software,2013
...,...,...,...,...,...,...
59308,wayfeng,730.0,True,1,Valve,2015
59311,76561198251004808,253980.0,True,2,Starbreeze,2015
59321,72947282842,730.0,True,0,Valve,2015
59323,ApxLGhost,730.0,True,2,Valve,2015
59332,76561198267374962,369200.0,True,2,NaN,2015

*Creamos un diccionario que contiene los tres principales desarrolladores con la mayoría de las recomendaciones positivas para un año dado.*
1. Filtramos los datos para el año específico, luego selecciona los juegos con recomendaciones verdaderas y el análisis de sentimientos más alto.
2. Agrupamos los resultados por desarrollador, contando las recomendaciones, los ordenamos en orden descendente y seleccionamos los tres principales. 
3. Creamos un diccionario con los tres principales desarrolladores y sus puestos correspondientes.

In [9]:
def best_developer_year(df, año):
    
    # Filtrar el DataFrame para el año dado
    df_año = df[df['year_posted'] == año]

    # Filtrar por recomendaciones verdaderas y sentimiento de análisis más alto
    df_filtrado = df_año[df_año['recommend'] & (df_año['sentiment_analysis'] == df_año['sentiment_analysis'].max())]

    # Agrupar por desarrollador y contar las recomendaciones
    top_developers = df_filtrado.groupby('developer')['recommend'].sum()

    # Ordenar los desarrolladores por número de recomendaciones en orden descendente
    top_developers = top_developers.sort_values(ascending=False)

    # Tomar los top 3 desarrolladores
    top_3_developers = top_developers.head(3)

    # Crear el diccionario ordenado con los top 3 desarrolladores
    top_developers_dict = {}
    for i, (developer, recomendaciones) in enumerate(top_3_developers.items(), 1):
        puesto = f"Puesto {i}"
        top_developers_dict[puesto] = developer

    return top_developers_dict


*Solicitamos al usuario que ingrese un año entre 2010 y 2015.* 

Los datos nos muestran que Steam solo tiene información válida de reseñas de usuarios entre 2010 y 2015, inclusive. Por eso, verificamos que el año ingresado está dentro del rango deseado (2010-2015). Si el año está fuera de ese rango, imprimimos un mensaje de error. De lo contrario, llamamos a una función para obtener los tres principales desarrolladores para el año dado y los imprime.

In [10]:
# Solicitar al usuario que ingrese el año deseado
año = int(input("Steam solo tiene datos de reseñas de usuarios para los años 2010-2015. Ingrese un año entre 2010 y 2015, inclusive: "))

# Check if the input year is within the desired range (2010-2015)
if año < 2010 or año > 2015:
    print("Error: El año ingresado debe estar entre 2010 y 2015, inclusive.")
else:
    # Call the function with the desired year and DataFrame df_merged
    top_3_desarrolladores = best_developer_year(df_merged, año)
    
    # Imprimir el top 3 de desarrolladores para el año dado
    print(f"Top 3 de desarrolladores para el año {año}: {top_3_desarrolladores}")

Error: El año ingresado debe estar entre 2010 y 2015, inclusive.

In [ ]:
df_merged.to_parquet(r'C:\Users\Owner\Desktop\LABS\Proyecto_STEAM\datos_STEAM\datos_STeam\parquet', index=False)